.navbar {
    display: flex;
    justify-content: center; /* Center the buttons */
    background-color: #081C15; /* Navbar background */
    color: #EFE7E6;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 20px;
    gap: 20px; /* Add space between buttons */
}

.btn {
    background-color: #1B4332;
    color: #EFE7E6;
    border: none;
    border-radius: 9px;
    padding: 8px 16px; /* Adjust padding for text size */
    cursor: pointer;
    font-size: 15px;
    width: auto; /* Button width based on text */
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #95D5B2;
    color: #081C15;
}

.btn:active {
    background-color: #363030;
    color: #efe7e6;
}

.content {
    padding-bottom: 20px; /* Add padding between navbar and content */
}